Source: ibus-table-boshiamy
Section: utils
Priority: optional
Maintainer: You-Sheng Yang <vicamo@gmail.com>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: autotools-dev, ibus-table (>= 1.1.0), pkg-config
Standards-Version: 3.8.2
Homepage: http://github.com/vicamo/ibus-table-boshiamy
Vcs-Browser: http://github.com/vicamo/ibus-table-boshiamy/tree
Vcs-Git: git://github.com/vicamo/ibus-table-boshiamy.git

Package: ibus-table-boshiamy
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ibus-table (>= 1.1.0.20090527)
Description: Boshiamy input method based on table engine of ibus
 IBus-Table is the IM Engine framework for table-based input methods, such as
 WuBi, ErBi, Cangjie and so on.
 .
 This package provide Boshiamy input methods.
 .
 Boshiamy is a Traditional Chinese input method, check more information at
 http://en.wikipedia.org/wiki/Boshiamy_method .
